<?xml version="1.0" encoding="utf-8" ?>
<xml>
    <settings>
        <login-1>login-1</login-1> <!-- Логин в Электронный Дневник 1 -->
        <password-1>password-1</password-1> <!-- Пароль 1 -->
        <login-2>login-2</login-2> <!-- Логин в Электронный Дневник 2 -->
        <password-2>password-2</password-2> <!-- Пароль 2 -->
        <token>KEY</token> <!-- API VK -->
        <group-id>ID</group-id> <!-- ID группы -->
    </settings>
    <timetable>

        <!-- Понедельник -->
        <day>
            <lesson>
                НАЗВАНИЕ_ПРЕДМЕТА ССЫЛКА
            </lesson>
            <lesson>
                НАЗВАНИЕ_ПРЕДМЕТА_(ГРУППА_1) ССЫЛКА
                НАЗВАНИЕ_ПРЕДМЕТА_(ГРУППА_2) ССЫЛКА
            </lesson>
        </day>

        <!-- Вторник -->
        <day>

        </day>

        <!-- Среда -->
        <day>

        </day>

        <!-- Четверг -->
        <day>

        </day>

        <!-- Пятница -->
        <day>

        </day>

        <!-- Суббота -->
        <day>

        </day>

        <!-- Воскресенье -->
        <day>

        </day>
    </timetable>
</xml>
